# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup

# Import the Places API key for Google Maps
from config import google_maps_javascript_api_key

# Import the pandas library for ETL processes
import pandas as pd

# Import the requests library for making API GET requests
import requests

# Import the gmaps library for creating and modifying heatmaps
import gmaps

# Configure gmaps using the provided Places API key
gmaps.configure(api_key=google_maps_javascript_api_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../weather_database/weatherpy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,42.46,52,75,16.11,broken clouds
1,1,Krasnoselkup,RU,65.7000,82.4667,31.48,83,100,12.55,overcast clouds
2,2,Kendari,ID,-3.9450,122.4989,76.59,85,99,2.37,overcast clouds
3,3,Dali,CN,25.7000,100.1833,61.83,90,66,3.04,broken clouds
4,4,Obo,CF,5.3998,26.4869,86.16,57,76,2.53,broken clouds
5,5,Jamestown,US,42.0970,-79.2353,54.72,60,100,8.05,mist
6,6,Ahipara,NZ,-35.1667,173.1667,54.81,92,65,5.79,broken clouds
7,7,Saldanha,ZA,-33.0117,17.9442,68.05,67,31,11.86,scattered clouds
8,8,Busselton,AU,-33.6500,115.3333,52.88,84,34,8.68,scattered clouds
9,9,Nelson Bay,AU,-32.7167,152.1500,61.00,94,16,7.00,few clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature that you would like for your travel destination to be in fahrenheit?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature that you would like for your travel destination to be in fahrenheit?"))

What is the minimum temperature that you would like for your travel destination to be in fahrenheit?0
What is the maximum temperature that you would like for your travel destination to be in fahrenheit?100

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,42.46,52,75,16.11,broken clouds
1,1,Krasnoselkup,RU,65.7000,82.4667,31.48,83,100,12.55,overcast clouds
2,2,Kendari,ID,-3.9450,122.4989,76.59,85,99,2.37,overcast clouds
3,3,Dali,CN,25.7000,100.1833,61.83,90,66,3.04,broken clouds
4,4,Obo,CF,5.3998,26.4869,86.16,57,76,2.53,broken clouds
5,5,Jamestown,US,42.0970,-79.2353,54.72,60,100,8.05,mist
6,6,Ahipara,NZ,-35.1667,173.1667,54.81,92,65,5.79,broken clouds
7,7,Saldanha,ZA,-33.0117,17.9442,68.05,67,31,11.86,scattered clouds
8,8,Busselton,AU,-33.6500,115.3333,52.88,84,34,8.68,scattered clouds
9,9,Nelson Bay,AU,-32.7167,152.1500,61.00,94,16,7.00,few clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,42.46,52,75,16.11,broken clouds
1,1,Krasnoselkup,RU,65.7000,82.4667,31.48,83,100,12.55,overcast clouds
2,2,Kendari,ID,-3.9450,122.4989,76.59,85,99,2.37,overcast clouds
3,3,Dali,CN,25.7000,100.1833,61.83,90,66,3.04,broken clouds
4,4,Obo,CF,5.3998,26.4869,86.16,57,76,2.53,broken clouds
5,5,Jamestown,US,42.0970,-79.2353,54.72,60,100,8.05,mist
6,6,Ahipara,NZ,-35.1667,173.1667,54.81,92,65,5.79,broken clouds
7,7,Saldanha,ZA,-33.0117,17.9442,68.05,67,31,11.86,scattered clouds
8,8,Busselton,AU,-33.6500,115.3333,52.88,84,34,8.68,scattered clouds
9,9,Nelson Bay,AU,-32.7167,152.1500,61.00,94,16,7.00,few clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

           City Country  Max Temp Current Description      Lat       Lng
0       Ushuaia      AR     42.46       broken clouds -54.8000  -68.3000
1  Krasnoselkup      RU     31.48     overcast clouds  65.7000   82.4667
2       Kendari      ID     76.59     overcast clouds  -3.9450  122.4989
3          Dali      CN     61.83       broken clouds  25.7000  100.1833
4           Obo      CF     86.16       broken clouds   5.3998   26.4869
5     Jamestown      US     54.72                mist  42.0970  -79.2353
6       Ahipara      NZ     54.81       broken clouds -35.1667  173.1667
7      Saldanha      ZA     68.05    scattered clouds -33.0117   17.9442
8     Busselton      AU     52.88    scattered clouds -33.6500  115.3333
9    Nelson Bay      AU     61.00          few clouds -32.7167  152.1500

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ushuaia,AR,42.46,broken clouds,-54.8000,-68.3000,
1,Krasnoselkup,RU,31.48,overcast clouds,65.7000,82.4667,
2,Kendari,ID,76.59,overcast clouds,-3.9450,122.4989,
3,Dali,CN,61.83,broken clouds,25.7000,100.1833,
4,Obo,CF,86.16,broken clouds,5.3998,26.4869,
5,Jamestown,US,54.72,mist,42.0970,-79.2353,
6,Ahipara,NZ,54.81,broken clouds,-35.1667,173.1667,
7,Saldanha,ZA,68.05,scattered clouds,-33.0117,17.9442,
8,Busselton,AU,52.88,scattered clouds,-33.6500,115.3333,
9,Nelson Bay,AU,61.00,few clouds,-32.7167,152.1500,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": google_maps_javascript_api_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ushuaia,AR,42.46,broken clouds,-54.8000,-68.3000,Albatross Hotel
1,Krasnoselkup,RU,31.48,overcast clouds,65.7000,82.4667,Krasnosel'kupnefteprodukt
2,Kendari,ID,76.59,overcast clouds,-3.9450,122.4989,Hotel Wixel
3,Dali,CN,61.83,broken clouds,25.7000,100.1833,Dali Travelling With Hostel
4,Obo,CF,86.16,broken clouds,5.3998,26.4869,

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.drop(hotel_df.loc[hotel_df["Hotel Name"] == ""].index)

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ushuaia,AR,42.46,broken clouds,-54.8000,-68.3000,Albatross Hotel
1,Krasnoselkup,RU,31.48,overcast clouds,65.7000,82.4667,Krasnosel'kupnefteprodukt
2,Kendari,ID,76.59,overcast clouds,-3.9450,122.4989,Hotel Wixel
3,Dali,CN,61.83,broken clouds,25.7000,100.1833,Dali Travelling With Hostel
5,Jamestown,US,54.72,mist,42.0970,-79.2353,Hampton Inn & Suites Jamestown
6,Ahipara,NZ,54.81,broken clouds,-35.1667,173.1667,Ahipara Holiday Park
7,Saldanha,ZA,68.05,scattered clouds,-33.0117,17.9442,Blue Bay Lodge
8,Busselton,AU,52.88,scattered clouds,-33.6500,115.3333,Observatory Guest House
9,Nelson Bay,AU,61.00,few clouds,-32.7167,152.1500,Mantra Nelson Bay
10,Iskateley,RU,40.06,broken clouds,67.6803,53.1512,Hostel Agat

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.
output_data_file = "../vacation_search/weatherpy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [15]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Albatross Hotel</dd>\n<dt>City</dt><dd>Ushuaia</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 42.46 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Krasnosel'kupnefteprodukt</dd>\n<dt>City</dt><dd>Krasnoselkup</dd>\n<dt>Country</dt><dd>RU</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 31.48 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Wixel</dd>\n<dt>City</dt><dd>Kendari</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.59 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Dali Travelling With Hostel</dd>\n<dt>City</dt><dd>Dali</dd>\n<dt>Country</dt><dd>CN</dd>\n<dt>Current Weather</dt><dd>broken clouds and 61.83 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hampton Inn & Suites Jamestown</dd>\n<dt>City</dt><dd>Jamestown</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>mist and 54.72 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Ahipara Holiday Park</dd>\n<dt>City</dt><dd>Ahipara</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Current Weather</dt><dd>broken clouds and 54.81 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Blue Bay Lodge</dd>\n<dt>City</dt><dd>Saldanha</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 68.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Observatory Guest House</dd>\n<dt>City</dt><dd>Busselton</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 52.88 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mantra Nelson Bay</dd>\n<dt>City</dt><dd>Nelson Bay</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>few clouds and 61.0 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hostel Agat</dd>\n<dt>City</dt><dd>Iskateley</dd>\n<dt>Country</dt><dd>RU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 40.06 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [16]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0  -54.8000  -68.3000
1   65.7000   82.4667
2   -3.9450  122.4989
3   25.7000  100.1833
5   42.0970  -79.2353
6  -35.1667  173.1667
7  -33.0117   17.9442
8  -33.6500  115.3333
9  -32.7167  152.1500
10  67.6803   53.1512

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [17]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))